In [13]:
import pandas as pd
from pyspark.sql.functions import col
from datetime import datetime
from pyspark.sql.functions import udf
from pyspark.sql.types import *
from pyspark.sql.functions import datediff, to_date, lit
import pyspark.sql.functions as F
import matplotlib

No module named matplotlib
Traceback (most recent call last):
ImportError: No module named matplotlib

In [2]:
spark.version

u'2.3.1'

In [215]:
df = spark.read.csv('s3n://batalhadedadositau/saude/HSL/{}'.format(x),sep=';',header=True)
df.coalesce(1).write.csv('./batalhadedadositau.csv',header=True)

In [2]:
path = ['AutIntHos-DataSUS-2013-2018.csv']
# ,'Obitos-DataSUS-2013-2016.csv'
for x in path:
    print x
    df = spark.read.csv('s3n://batalhadedadositau/saude/HSL/{}'.format(x),sep=';',header=True)
    print 'quantidade de variaveus'
    df.count()
    for column in df.columns:
        if x == 'CID_PRINCIPAL':
            df.select(x).filter(df[x] == '10').show()
#         df.groupby(column).count().show()
    df.printSchema()

AutIntHos-DataSUS-2013-2018.csv
quantidade de variaveus
354284
root
 |-- AIH_ID: string (nullable = true)
 |-- AIH_TIPO: string (nullable = true)
 |-- PROCESSAMENTO_ANO: string (nullable = true)
 |-- PROCESSAMENTO_MES: string (nullable = true)
 |-- LEITO_TIPO: string (nullable = true)
 |-- PACIENTE_CEP: string (nullable = true)
 |-- PACIENTE_MUNICIPIO: string (nullable = true)
 |-- PACIENTE_UF: string (nullable = true)
 |-- PACIENTE_DATA_NASCIMENTO: string (nullable = true)
 |-- PACIENTE_SEXO: string (nullable = true)
 |-- UTI_QTD_DIAS: string (nullable = true)
 |-- UTI_TIPO: string (nullable = true)
 |-- DIARIA_INTERMEDIARIA: string (nullable = true)
 |-- DIARIA_ACOMPANHANTE: string (nullable = true)
 |-- DIARIA: string (nullable = true)
 |-- PROCEDIMENTO_SOLICITADO_ID: string (nullable = true)
 |-- PROCEDIMENTO_SOLICITADO_DESC: string (nullable = true)
 |-- PROCEDIMENTO_REALIZADO_ID: string (nullable = true)
 |-- PROCEDIMENTO_REALIZADO_DESC: string (nullable = true)
 |-- VALOR_SERVICO_HOSPITALAR: string (nullable = true)
 |-- VALOR_SERVICO_PROFISSIONAL: string (nullable = true)
 |-- VALOR_TOTAL: string (nullable = true)
 |-- VALOR_UTI: string (nullable = true)
 |-- INTERNACAO_DATA: string (nullable = true)
 |-- INTERNACAO_ALTA: string (nullable = true)
 |-- CID_PRINCIPAL: string (nullable = true)
 |-- CID_PRINCIPAL_DESC: string (nullable = true)
 |-- CID_SECUNDARIA: string (nullable = true)
 |-- CID_SECUNDARIA_DESC: string (nullable = true)
 |-- CID_ASSOCIADA: string (nullable = true)
 |-- CID_ASSOCIADA_DESC: string (nullable = true)
 |-- CID_NOTIFICACAO: string (nullable = true)
 |-- CID_NOTIFICACAO_DESC: string (nullable = true)
 |-- CID_MORTE: string (nullable = true)
 |-- CID_MORTE_DESC: string (nullable = true)
 |-- IDADE_MEDIDA: string (nullable = true)
 |-- IDADE: string (nullable = true)
 |-- DIAS_PERMANENCIA: string (nullable = true)
 |-- MORTE: string (nullable = true)
 |-- PACIENTE_GRAU_INSTRUCAO: string (nullable = true)
 |-- GESTANTE_RISCO: string (nullable = true)
 |-- CNES: string (nullable = true)
 |-- CNES_MUNICIPIO: string (nullable = true)
 |-- CNES_UF: string (nullable = true)
 |-- CNES_CEP: string (nullable = true)
 |-- CNES_FANTASIA: string (nullable = true)
 |-- INFECCAO_HOSPITALAR: string (nullable = true)
 |-- COMPLEXIDADE: string (nullable = true)
 |-- PACIENTE_RACA_COR: string (nullable = true)

# Transformation date

In [5]:
import datetime
def date_diff(date):
    # Data final
    try:
        today = datetime.date.today()
        date = date.split('-')
        return 2018 - int(date[0])
        
    except:
        return 0
    
    # Calculo da quantidade de dias
    
def date_format(date):
    if date:
        #PACIENTE_DATA_NASCIMENTO
        ano = date[:4]
        mes = date[4:6]
        dia = date[6:]
    else:
        ano = '01'
        mes = '01'
        dia = '2001'
    return '{}-{}-{}'.format(ano,mes,dia)
date_format_udf = udf(date_format,StringType())
date_diff_udf = udf(date_diff,IntegerType())

# Filtro por uf

In [6]:
df = df.withColumn('PACIENTE_DATA_NASCIMENTO',date_format_udf(df['PACIENTE_DATA_NASCIMENTO']))
df = df.withColumn('IDADE',date_diff_udf(df['PACIENTE_DATA_NASCIMENTO']))

# GroupBy

In [246]:
df.select('CNES_UF','PACIENTE_DATA_NASCIMENTO','idade').show(300)

+-------+------------------------+-----+
|CNES_UF|PACIENTE_DATA_NASCIMENTO|idade|
+-------+------------------------+-----+
|     BA|              1991-03-15|   27|
|     BA|              1981-12-13|   37|
|     BA|              1990-04-25|   28|
|     BA|              1972-05-03|   46|
|     BA|              1973-09-09|   45|
|     BA|              1935-02-02|   83|
|     BA|              1943-02-10|   75|
|     BA|              1963-05-15|   55|
|     BA|              1957-07-17|   61|
|     BA|              1947-01-19|   71|
|     BA|              1949-10-16|   69|
|     BA|              1970-08-01|   48|
|     BA|              1930-01-22|   88|
|     BA|              1963-10-30|   55|
|     BA|              1940-09-28|   78|
|     BA|              1968-02-10|   50|
|     BA|              1972-12-11|   46|
|     BA|              1951-10-03|   67|
|     BA|              1963-04-28|   55|
|     BA|              1975-04-14|   43|
|     BA|              1941-11-02|   77|
|     BA|              1948-05-03|   70|
|     BA|              1976-03-01|   42|
|     BA|              1965-04-22|   53|
|     BA|              1945-04-23|   73|
|     BA|              1952-02-07|   66|
|     BA|              1957-11-18|   61|
|     BA|              1980-01-16|   38|
|     BA|              1957-10-23|   61|
|     BA|              1954-08-16|   64|
|     BA|              1952-07-05|   66|
|     BA|              1956-08-06|   62|
|     BA|              1969-02-07|   49|
|     BA|              1957-07-16|   61|
|     BA|              1932-03-25|   86|
|     BA|              1949-05-03|   69|
|     BA|              1971-07-28|   47|
|     BA|              1952-07-22|   66|
|     BA|              1971-01-18|   47|
|     BA|              1936-03-07|   82|
|     BA|              1959-08-18|   59|
|     BA|              1940-12-14|   78|
|     BA|              1967-01-20|   51|
|     BA|              1954-09-07|   64|
|     BA|              1935-06-08|   83|
|     BA|              1963-09-11|   55|
|     BA|              1944-12-14|   74|
|     BA|              1969-01-03|   49|
|     BA|              1940-10-20|   78|
|     BA|              1968-03-15|   50|
|     BA|              1960-05-19|   58|
|     BA|              1966-06-23|   52|
|     BA|              1980-01-22|   38|
|     BA|              1958-01-25|   60|
|     BA|              1966-06-06|   52|
|     BA|              1963-05-18|   55|
|     BA|              1953-11-12|   65|
|     BA|              1964-04-09|   54|
|     BA|              1971-12-04|   47|
|     BA|              1961-11-02|   57|
|     BA|              1973-01-20|   45|
|     BA|              1955-03-12|   63|
|     BA|              1955-06-14|   63|
|     BA|              1969-06-10|   49|
|     BA|              1926-10-22|   92|
|     BA|              1961-08-30|   57|
|     BA|              1928-10-04|   90|
|     BA|              1965-03-18|   53|
|     BA|              1960-05-22|   58|
|     BA|              1947-01-01|   71|
|     BA|              1964-07-29|   54|
|     BA|              1963-07-31|   55|
|     BA|              1958-03-25|   60|
|     BA|              1959-06-29|   59|
|     BA|              1967-07-30|   51|
|     BA|              1931-07-29|   87|
|     BA|              1958-06-08|   60|
|     BA|              1931-11-16|   87|
|     BA|              1954-04-03|   64|
|     BA|              1958-05-09|   60|
|     BA|              1957-11-01|   61|
|     BA|              1971-10-30|   47|
|     BA|              1968-03-15|   50|
|     BA|              1964-01-20|   54|
|     BA|              1943-01-20|   75|
|     BA|              1957-12-29|   61|
|     BA|              1962-11-14|   56|
|     BA|              1949-12-01|   69|
|     BA|              1957-05-24|   61|
|     BA|              1956-09-10|   62|
|     BA|              1970-02-18|   48|
|     BA|              1946-03-05|   72|
|     BA|              1953-11-06|   65|
|     BA|              1962-05-12|   56|
|     BA|              1963-05-18|   55|
|     BA|              1960-09-28|   58|
|     BA|              1973-03-18|   45|
|     BA|              1961-03-16|   57|
|     BA|              1967-07-14|   51|
|     BA|              1959-01-14|   59|
|     BA|              1975-09-20|   43|
|     BA|              1963-05-18|   55|
|     BA|              1955-11-09|   63|
|     BA|              1951-07-10|   67|
|     BA|              1953-12-27|   65|
|     BA|              1978-04-10|   40|
|     BA|              1949-05-05|   69|
|     BA|              1952-08-22|   66|
|     BA|              1983-02-26|   35|
|     BA|              1980-02-21|   38|
|     BA|              1927-12-02|   91|
|     BA|              1976-06-29|   42|
|     BA|              1973-05-09|   45|
|     BA|              1970-11-02|   48|
|     BA|              1969-04-10|   49|
|     BA|              1964-12-01|   54|
|     BA|              1977-05-20|   41|
|     BA|              1982-04-20|   36|
|     BA|              1961-01-09|   57|
|     BA|              1961-11-13|   57|
|     BA|              1945-09-10|   73|
|     BA|              1972-05-12|   46|
|     BA|              1975-11-03|   43|
|     BA|              1968-03-02|   50|
|     BA|              1950-09-01|   68|
|     BA|              1969-01-19|   49|
|     BA|              1953-11-06|   65|
|     BA|              1961-08-08|   57|
|     BA|              1972-11-15|   46|
|     BA|              1960-07-24|   58|
|     BA|              1978-06-08|   40|
|     BA|              1973-11-02|   45|
|     BA|              1957-02-13|   61|
|     BA|              1975-02-03|   43|
|     BA|              1939-05-27|   79|
|     BA|              1957-02-08|   61|
|     BA|              1925-10-12|   93|
|     BA|              1959-07-29|   59|
|     BA|              1966-03-30|   52|
|     BA|              1969-03-01|   49|
|     BA|              1971-09-27|   47|
|     BA|              1940-05-12|   78|
|     BA|              1970-08-06|   48|
|     BA|              1967-05-07|   51|
|     BA|              1965-05-15|   53|
|     BA|              1945-05-20|   73|
|     BA|              1969-11-12|   49|
|     BA|              1972-04-08|   46|
|     BA|              1968-03-15|   50|
|     BA|              1961-08-30|   57|
|     BA|              1972-10-07|   46|
|     BA|              1958-02-10|   60|
|     BA|              1970-03-02|   48|
|     BA|              1955-12-21|   63|
|     BA|              1966-04-12|   52|
|     BA|              1981-03-17|   37|
|     BA|              1971-04-30|   47|
|     BA|              1983-10-03|   35|
|     BA|              1977-12-26|   41|
|     BA|              1992-08-24|   26|
|     BA|              1980-01-28|   38|
|     BA|              1962-01-02|   56|
|     BA|              1975-05-04|   43|
|     BA|              1968-06-15|   50|
|     BA|              1942-07-17|   76|
|     BA|              1932-04-16|   86|
|     BA|              1960-03-21|   58|
|     BA|              1958-07-03|   60|
|     BA|              1970-03-05|   48|
|     BA|              1975-04-21|   43|
|     BA|              1957-07-08|   61|
|     BA|              1979-03-20|   39|
|     BA|              1996-08-03|   22|
|     BA|              1994-05-02|   24|
|     BA|              1995-07-02|   23|
|     BA|              1966-09-17|   52|
|     BA|              1963-11-08|   55|
|     BA|              1968-02-10|   50|
|     BA|              1961-03-14|   57|
|     BA|              1962-04-27|   56|
|     BA|              1952-10-21|   66|
|     BA|              1973-10-17|   45|
|     BA|              1965-11-23|   53|
|     BA|              1977-08-28|   41|
|     BA|              1930-01-01|   88|
|     BA|              1964-08-03|   54|
|     BA|              1973-08-31|   45|
|     BA|              1957-06-22|   61|
|     BA|              1966-03-28|   52|
|     BA|              1957-06-30|   61|
|     BA|              1963-06-24|   55|
|     BA|              1960-11-01|   58|
|     BA|              1970-10-18|   48|
|     BA|              1951-09-05|   67|
|     BA|              1940-09-28|   78|
|     BA|              1946-03-10|   72|
|     BA|              1965-03-10|   53|
|     BA|              1924-10-12|   94|
|     BA|              1965-03-10|   53|
|     BA|              1959-11-14|   59|
|     BA|              1961-12-30|   57|
|     BA|              1975-01-04|   43|
|     BA|              1959-11-01|   59|
|     BA|              1948-06-10|   70|
|     BA|              1953-05-27|   65|
|     BA|              1960-12-20|   58|
|     BA|              1987-10-08|   31|
|     BA|              1964-02-17|   54|
|     BA|              1928-04-29|   90|
|     BA|              1970-10-17|   48|
|     BA|              1942-11-02|   76|
|   null|              1967-03-20|   51|
|   null|              01-01-2001| 2017|
|   null|              01-01-2001| 2017|
|   null|              01-01-2001| 2017|
|     BA|              1966-05-30|   52|
|     BA|              1937-08-01|   81|
|     BA|              1930-01-01|   88|
|     BA|              1945-03-19|   73|
|     BA|              1971-05-05|   47|
|     BA|              1968-05-12|   50|
|     BA|              1948-06-12|   70|
|     BA|              1959-08-23|   59|
|     BA|              1946-07-28|   72|
|     BA|              1947-09-24|   71|
|     BA|              1970-10-04|   48|
|     BA|              1962-07-14|   56|
|     BA|              1949-08-17|   69|
|     BA|              1933-07-10|   85|
|     BA|              1960-10-24|   58|
|     BA|              1959-04-27|   59|
|     BA|              1973-11-29|   45|
|     BA|              1966-05-10|   52|
|     BA|              1948-09-14|   70|
|     BA|              1962-02-17|   56|
|     BA|              1957-06-29|   61|
|     BA|              1941-08-20|   77|
|     BA|              1984-10-16|   34|
|     BA|              1954-09-12|   64|
|     BA|              1959-10-23|   59|
|     BA|              1969-01-03|   49|
|     BA|              1975-12-04|   43|
|     BA|              1946-04-07|   72|
|     BA|              1954-07-22|   64|
|     BA|              1970-09-01|   48|
|     BA|              1971-02-28|   47|
|     BA|              1950-12-07|   68|
|     BA|              1957-06-07|   61|
|     BA|              1961-03-14|   57|
|     BA|              1965-11-13|   53|
|     BA|              1958-05-08|   60|
|     BA|              1963-08-06|   55|
|     BA|              1961-06-09|   57|
|     BA|              1965-09-12|   53|
|     BA|              1974-08-04|   44|
|     BA|              1967-09-15|   51|
|     BA|              1959-03-08|   59|
|     BA|              1977-03-13|   41|
|     BA|              1981-03-07|   37|
|     BA|              1963-01-12|   55|
|     BA|              1965-03-23|   53|
|     BA|              1947-08-17|   71|
|     BA|              1956-01-15|   62|
|     BA|              1959-05-03|   59|
|     BA|              1923-03-13|   95|
|     BA|              1983-10-17|   35|
|     BA|              1974-10-24|   44|
|     BA|              1967-01-19|   51|
|     BA|              1977-03-07|   41|
|     BA|              1961-11-20|   57|
|     BA|              1962-05-25|   56|
|     BA|              1948-10-12|   70|
|     BA|              1948-10-13|   70|
|     BA|              1968-05-03|   50|
|     BA|              1971-09-07|   47|
|     BA|              1967-07-30|   51|
|     BA|              1947-09-27|   71|
|     BA|              1957-12-21|   61|
|     BA|              1958-06-08|   60|
|     BA|              1961-05-10|   57|
|     BA|              1963-07-18|   55|
|     BA|              1934-11-24|   84|
|     BA|              1944-04-08|   74|
|     BA|              1962-02-28|   56|
|     BA|              1967-01-19|   51|
|     BA|              1957-11-14|   61|
|     BA|              1988-02-17|   30|
|     BA|              1969-01-15|   49|
|     BA|              1963-03-09|   55|
|     BA|              1955-04-26|   63|
|     BA|              1969-03-26|   49|
|     BA|              1954-08-01|   64|
|     BA|              1929-11-08|   89|
|     BA|              1926-11-04|   92|
|     BA|              1952-12-20|   66|
|     BA|              1949-11-03|   69|
|     BA|              1961-12-10|   57|
|     BA|              1974-12-06|   44|
|     BA|              1963-03-24|   55|
|     BA|              1941-07-15|   77|
+-------+------------------------+-----+
only showing top 300 rows

In [247]:
df.groupby(['CNES_UF']).count().sort(col("count").desc()).show(truncate=False)

+-------+------+
|CNES_UF|count |
+-------+------+
|null   |184394|
|MG     |43018 |
|PR     |24594 |
|BA     |20207 |
|PE     |19073 |
|CE     |10074 |
|ES     |9959  |
|GO     |7583  |
|DF     |4916  |
|PB     |4774  |
|MA     |4405  |
|PI     |4183  |
|MS     |3781  |
|MT     |3619  |
|AL     |3520  |
|PA     |3447  |
|AM     |1942  |
|AC     |442   |
|AP     |353   |
+-------+------+

# Descrição dos CID's

In [248]:
df.groupby(['CID_PRINCIPAL','CID_PRINCIPAL_DESC']).count().sort(col("count").desc()).show(truncate=False)

+-------------+--------------------------------------------------+------+
|CID_PRINCIPAL|CID_PRINCIPAL_DESC                                |count |
+-------------+--------------------------------------------------+------+
|C509         |C50.9 Mama NE                                     |133901|
|C508         |C50.8 Lesao invasiva da mama                      |97381 |
|C500         |C50.0 Mamilo e areola                             |33175 |
|C501         |C50.1 Porcao central da mama                      |26828 |
|C504         |C50.4 Quadrante super externo da mama             |25912 |
|C506         |C50.6 Porcao axilar da mama                       |11685 |
|C503         |C50.3 Quadrante infer interno da mama             |9098  |
|C502         |C50.2 Quadrante super interno da mama             |5475  |
|C505         |C50.5 Quadrante infer externo da mama             |4661  |
|null         |null                                              |969   |
|N648         |N64.8 Outr transt espec da mama                   |609   |
|A419         |A41.9 Septicemia NE                               |258   |
|J90          |J90   Derrame pleural NCOP                        |242   |
|J189         |J18.9 Pneumonia NE                                |133   |
|A488         |A48.8 Outr doenc bacter espec                     |115   |
|D486         |D48.6 Mama                                        |113   |
|C773         |C77.3 Ganglios linfaticos axilares e membros super|100   |
|I878         |I87.8 Outr transt venosos espec                   |99    |
|J960         |J96.0 Insuf respirat aguda                        |94    |
|A499         |A49.9 Infecc bacter NE                            |92    |
+-------------+--------------------------------------------------+------+
only showing top 20 rows

In [249]:
# CID_NOTIFICACAO
df.groupby(['CID_PRINCIPAL','CID_NOTIFICACAO']).count().sort(col("count").desc()).show()

+-------------+---------------+------+
|CID_PRINCIPAL|CID_NOTIFICACAO| count|
+-------------+---------------+------+
|         C509|           null|133901|
|         C508|           null| 97380|
|         C500|           null| 33173|
|         C501|           null| 26828|
|         C504|           null| 25912|
|         C506|           null| 11685|
|         C503|           null|  9098|
|         C502|           null|  5475|
|         C505|           null|  4661|
|         null|           null|   969|
|         N648|           null|   609|
|         A419|           null|   258|
|          J90|           null|   242|
|         J189|           null|   133|
|         A488|           null|   115|
|         D486|           null|   113|
|         C773|           null|   100|
|         I878|           null|    99|
|         J960|           null|    94|
|         A499|           null|    92|
+-------------+---------------+------+
only showing top 20 rows

In [250]:
df.groupby('CID_SECUNDARIA').count().sort(col("count").desc()).show()

+--------------+------+
|CID_SECUNDARIA| count|
+--------------+------+
|          null|333720|
|          C509|  5792|
|          C508|  3436|
|           N63|  1971|
|          C506|   752|
|           I10|   728|
|          C504|   463|
|          C501|   454|
|          C773|   389|
|          C500|   292|
|          Z515|   288|
|          R060|   235|
|           E86|   209|
|          N648|   194|
|          D630|   193|
|           J90|   166|
|          Y838|   166|
|          C795|   160|
|          C780|   148|
|          Z439|   139|
+--------------+------+
only showing top 20 rows

# CID Associado ao valor do serviço hospitalar

In [251]:
df.groupby('CID_PRINCIPAL').agg({'VALOR_SERVICO_HOSPITALAR':'sum'}).sort(col("sum(VALOR_SERVICO_HOSPITALAR)").desc()).show(truncate=False)

+-------------+-----------------------------+
|CID_PRINCIPAL|sum(VALOR_SERVICO_HOSPITALAR)|
+-------------+-----------------------------+
|C509         |1.5310932949998862E8         |
|C508         |1.4983713644999343E8         |
|C501         |4.7814564910001345E7         |
|C504         |4.7649161469999924E7         |
|C500         |4.417092167999957E7          |
|C503         |1.7357095190000046E7         |
|C506         |1.676633930000022E7          |
|C502         |8686476.569999922            |
|C505         |7902171.939999953            |
|A419         |823975.0000000001            |
|N648         |431720.9300000009            |
|J90          |275189.4199999998            |
|M518         |218342.72                    |
|D486         |204868.7200000001            |
|A488         |172123.37000000005           |
|C773         |164956.79                    |
|A499         |148682.09999999998           |
|J960         |142423.16                    |
|J189         |140818.51                    |
|C793         |132884.28000000003           |
+-------------+-----------------------------+
only showing top 20 rows

In [252]:
# MORTE
df.groupby('MORTE').agg({'CID_PRINCIPAL':'count'}).sort(col("count(CID_PRINCIPAL)").desc()).show(truncate=False)

+-----+--------------------+
|MORTE|count(CID_PRINCIPAL)|
+-----+--------------------+
|0    |322821              |
|1    |30183               |
|null |311                 |
+-----+--------------------+

In [253]:
df.groupby('CID_PRINCIPAL','idade').count().sort(col("count").desc()).show(100)

+-------------+-----+-----+
|CID_PRINCIPAL|idade|count|
+-------------+-----+-----+
|         C509|   54| 3987|
|         C509|   53| 3842|
|         C509|   56| 3840|
|         C509|   55| 3822|
|         C509|   58| 3728|
|         C509|   60| 3708|
|         C509|   52| 3650|
|         C509|   59| 3628|
|         C509|   63| 3575|
|         C509|   51| 3575|
|         C509|   61| 3573|
|         C509|   62| 3554|
|         C509|   57| 3521|
|         C509|   64| 3463|
|         C509|   50| 3458|
|         C509|   65| 3237|
|         C509|   66| 3189|
|         C509|   49| 3180|
|         C508|   54| 3013|
|         C509|   67| 3011|
|         C509|   68| 3008|
|         C508|   55| 2951|
|         C509|   48| 2948|
|         C508|   53| 2896|
|         C509|   47| 2840|
|         C508|   56| 2834|
|         C509|   46| 2815|
|         C508|   52| 2803|
|         C508|   58| 2788|
|         C508|   57| 2783|
|         C508|   50| 2768|
|         C509|   70| 2674|
|         C508|   59| 2671|
|         C508|   62| 2669|
|         C508|   60| 2647|
|         C508|   51| 2644|
|         C509|   69| 2642|
|         C508|   61| 2642|
|         C508|   64| 2548|
|         C508|   63| 2514|
|         C509|   45| 2486|
|         C508|   49| 2458|
|         C509|   71| 2426|
|         C508|   65| 2420|
|         C509|   44| 2332|
|         C508|   66| 2307|
|         C509|   72| 2302|
|         C508|   48| 2301|
|         C508|   68| 2235|
|         C508|   67| 2214|
|         C509|   43| 2168|
|         C508|   47| 2147|
|         C508|   46| 2137|
|         C509|   73| 2104|
|         C509|   42| 2043|
|         C509|   74| 2011|
|         C508|   69| 1927|
|         C508|   70| 1925|
|         C509|   41| 1907|
|         C509|   75| 1889|
|         C508|   45| 1855|
|         C508|   44| 1800|
|         C509|   76| 1729|
|         C509|   40| 1659|
|         C508|   71| 1653|
|         C509|   78| 1635|
|         C509|   39| 1608|
|         C508|   72| 1582|
|         C508|   43| 1504|
|         C508|   42| 1501|
|         C509|   77| 1491|
|         C508|   73| 1455|
|         C509|   79| 1428|
|         C508|   74| 1378|
|         C509|   38| 1340|
|         C508|   41| 1310|
|         C509|   37| 1291|
|         C508|   75| 1290|
|         C509|   80| 1270|
|         C508|   40| 1178|
|         C508|   39| 1143|
|         C508|   76| 1139|
|         C509|   81| 1127|
|         C509|   82| 1106|
|         C509|   83| 1027|
|         C509|   36| 1022|
|         C508|   78|  988|
|         C508|   77|  978|
|         C508|   37|  967|
|         C500|   54|  957|
|         C500|   53|  947|
|         C508|   38|  944|
|         C508|   79|  932|
|         C500|   55|  930|
|         C500|   51|  927|
|         C501|   54|  924|
|         C500|   56|  917|
|         C500|   50|  902|
|         C501|   53|  897|
|         C501|   52|  885|
+-------------+-----+-----+
only showing top 100 rows

In [7]:
df.select('INTERNACAO_DATA').show()

+---------------+
|INTERNACAO_DATA|
+---------------+
|       20130110|
|       20130108|
|       20130113|
|       20121025|
|       20121217|
|       20121128|
|       20121217|
|       20121212|
|       20130113|
|       20130114|
|       20121224|
|       20121224|
|       20121226|
|       20121123|
|       20121208|
|       20121211|
|       20121106|
|       20121115|
|       20121216|
|       20121001|
+---------------+
only showing top 20 rows

In [7]:
df = df.withColumn('INTERNACAO_DATA',  F.to_timestamp('INTERNACAO_DATA','yyyyMMdd'))

In [8]:
df_pd = df.toPandas()

In [9]:
df_pd.index = df_pd.INTERNACAO_DATA

In [10]:
x = df_pd.resample('Y').count()[['VALOR_SERVICO_HOSPITALAR']]